<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Equipos</title>
        <link rel="stylesheet" href="css/estilos.css">
        <link rel="stylesheet" href="css/normalize.css">
        <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="fontawesome/css/all.css">
        <link rel="icon" href="img/icon-pag/icono1.jpg">
    </head>
    <body>
        <div>
            <header>
                <h1 class="title">
                    <i class="fas fa-futbol"></i> &nbsp;
                    Liga de fútbol profesional
                </h1>
            </header>
            
            <nav>
                    <a href="index.html" class="link-nav">Home</a>
                    <a href="fixture.html" class="link-nav">Fixture y resultados</a>
                    <a href="equipos.html" class="link-nav">Equipos</a>
            </nav>
                
            <section class="contenedor-section">
                <h3 class="title-content">Equipos</h3>
                
                <table class="equipos">
                    <tr class="encabezado">
                        <th class="club" style="border-right: solid 1px">Club</th>
                        <th>Descripción</th>
                    </tr>
                    <tr class="content-tr">
                        <td class="club" style="border-bottom: solid 1px #9cafb7">
                            <img src="img/img-equipo/river-plate.jpg" class="club-image" alt="River Plate">
                        </td>
                        <td style="border-bottom: solid 1px #9cafb7">
                            <h6 class="title-equipo">River Plate</h6>
                            <p class="p-descrip">&nbsp; &nbsp;El Club Atlético River Plate, más conocido simplemente como River Plate, es una entidad polideportiva con sede en Buenos Aires, Argentina. El club fue fundado el 25 de mayo de 1901 en el barrio de La Boca, tras la fusión de los clubes Santa Rosa y La Rosales. Su nombre proviene de la antigua denominación que se le daba en inglés británico al Río de la Plata. Su principal disciplina es el fútbol masculino profesional, que milita actualmente en la Primera División de Argentina. Además, en el club se practican otras 65 disciplinas distintas, posee institutos educativos en todos los niveles académicos y fomenta actividades culturales y sociales de diversa índole.</p>
                        </td>
                    </tr>
                    <tr class="content-tr">
                        <td class="club" style="border-bottom: solid 1px #9cafb7">
                            <img src="img/img-equipo/boca.jpg" class="club-image" alt="Boca Juniors">
                        </td>
                        <td style="border-bottom: solid 1px #9cafb7">
                            <h6 class="title-equipo">Boca Juniors</h6> 
                            <p class="p-descrip">&nbsp; &nbsp;El Club Atlético Boca Juniors o simplemente Boca Juniors es una entidad deportiva argentina con sede en el barrio de La Boca, Buenos Aires. Fue fundado en dicho barrio el 3 de abril de 1905 por seis vecinos adolescentes hijos de italianos. El fútbol es su disciplina más destacada, aunque también compite a nivel profesional, nacional e internacionalmente, en baloncesto, voleibol, futsal y fútbol femenino, mientras que deportes como el boxeo, judo, karate, taekwondo, lucha, gimnasia rítmica y artística se practican a nivel amateur.</p>
                        </td>
                    </tr>
                    <tr class="content-tr">
                        <td class="club" style="border-bottom: solid 1px #9cafb7">
                            <img src="img/img-equipo/racing-club.jpg" class="club-image" alt="Racing Club">
                        </td>
                        <td style="border-bottom: solid 1px #9cafb7">
                            <h6 class="title-equipo">Racing Club</h6> 
                            <p class="p-descrip">&nbsp; &nbsp;Racing Club, conocido como Racing Club de Avellaneda o simplemente Racing, es una entidad deportiva oriunda de Argentina, fundada el 25 de marzo de 1903, ubicada en la ciudad de Avellaneda, en el Gran Buenos Aires. Si bien su principal actividad deportiva es el fútbol masculino profesional, que milita en la Primera División, también se practican otros deportes profesionales como fútbol femenino, básquet, futsal y hockey, mientras que tenis, boxeo, vóley, handball, judo, patín artístico, aikido, gimnasia artística, taekwondo, muay thai, sipalki-do, fútbol playa, atletismo, natación y saltos ornamentales son deportes amateur.</p>
                        </td>
                    </tr>
                    <tr class="content-tr">
                        <td class="club" style="border-bottom: solid 1px #9cafb7">
                            <img src="img/img-equipo/san-lorenzo-almagro.jpg" class="club-image" alt="San Lorenzo">
                        </td>
                        <td style="border-bottom: solid 1px #9cafb7">
                            <h6 class="title-equipo">Club Atlético San Lorenzo de Almagro</h6>
                            <p class="p-descrip">&nbsp; &nbsp;El Club Atlético San Lorenzo de Almagro, conocido popularmente como San Lorenzo de Almagro o simplemente San Lorenzo es un club social y deportivo de Argentina, fue fundado el 1 de abril de 1908. Su principal actividad es el futbol masculino donde participa en la Primera División de Argentina. También se practica básquet, natación, atletismo, hockey, rugby y vóley entre otras disciplinas deportivas. Es un club que se destaca por haber sido laureado en todos los deportes, teniendo en su haber campeones olímpicos como Delfo Cabrera. Está incorporado al sistema educativo con un jardín de infantes y un próximo colegio secundario.</p>
                        </td>
                    </tr>
                    <tr class="content-tr">
                        <td class="club" style="border-bottom: solid 1px #9cafb7">
                            <img src="img/img-equipo/independiente.jpg" class="club-image" alt="Independiente">
                        </td>
                        <td style="border-bottom: solid 1px #9cafb7">
                            <h6 class="title-equipo">Club Atlético Independiente</h6>
                            <p class="p-descrip">&nbsp; &nbsp;El Club Atlético Independiente, conocido popularmente como Independiente o por su sigla CAI, es una entidad deportiva de Argentina de la ciudad bonaerense de Avellaneda, situado en el sur del Gran Buenos Aires. Fue fundado el 1 de enero de 1905 por unos jóvenes empleados independistas del Club Maipú. El fútbol es su disciplina más destacada, cuyo primer equipo participa en la Superliga Argentina, aunque también se practican otras disciplinas deportivas a nivel amateur y semiprofesional.</p>
                        </td>
                    </tr>
                    <tr class="content-tr">
                        <td class="club">
                            <img src="img/img-equipo/arsenal-fc.jpg" class="club-image" alt="Arsenal FC">
                        </td>
                        <td>
                            <h6 class="title-equipo">Arsenal Fútbol Club</h6>
                            <p class="p-descrip">&nbsp; &nbsp; Arsenal Fútbol Club es un club de fútbol argentino que pertenece a la ciudad de Sarandí, en el partido de Avellaneda, provincia de Buenos Aires, fundado el 11 de enero de 1957. Actualmente participa en la Superliga Argentina, luego de haberse coronado campeón de la Primera B Nacional 2018-19.</p>
                        </td>
                    </tr>
                </table>
                
                
                
            </section>
            
            <aside class="auspiciantes">
                <h3 class="title-content">Auspiciantes</h3>
                
                <table class="table-ausp">
                    <tr>
                        <td>
                            <img src="img/adidas-auspiciante.jpg" alt="adidas" class="images-ausp">
                        </td>
                        <td>
                            <img src="img/bancomer.jpg" alt="bancomer" class="images-ausp">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="img/lenovo.png" alt="lenovo" class="images-ausp">
                        </td>
                        <td>
                            <img src="img/musimundo.png" alt="musimundo" class="images-ausp">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="img/huawei.jpg" alt="huawei" class="images-ausp">
                        </td>
                        <td>
                            <img src="img/toyota.jpg" alt="toyota" class="images-ausp">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="img/dia_logo_red.png" alt="dia" class="images-ausp">
                        </td>
                        <td>
                            <img src="img/coca-cola.jpg" alt="coca cola" class="images-ausp">
                        </td>
                    </tr>
                </table>
                
            </aside>
            
            <footer>
                <address class="direccion">
                    Avda. Pedro Ortiz de Zárate N°455 - Tel 388 4789555
                </address>
                <div class="redes-sociales">
                    <a href="https://www.facebook.com/" class="icon-red fb-icon" target="_blank">
                        <i class="fab fa-facebook-square iconos"></i>
                    </a>
                    <a href="https://www.instagram.com/" class="icon-red ig-icon" target="_blank">
                        <i class="fab fa-instagram iconos"></i>
                    </a>
                    <a href="https://twitter.com/" class="icon-red tw-icon" target="_blank">
                        <i class="fab fa-twitter iconos"></i>
                    </a>
                </div>
            </footer>
        </div>
    </body>
</html>